{% extends "base.html" %}

{% block title %}Docs{% endblock %}

{% block content -%}
    {% set badges = {"GET": "info", "DELETE": "danger", "PUT": "warning", "POST": "success", "PATCH": "primary"} -%}
    {%- for doc in autodoc %}
    <div class="my-2" style="border: 1px solid black;">
        <div class="row">
            <div class="col">
                <h2 style="margin-bottom: 0;">{{ doc.endpoint }}</h2>
                <a href="{{ doc.rule }}" target="_blank">{{ doc.rule }} <i class="fas fa-external-link-alt align-text-top" style="font-size: 0.5rem"></i></a>
            </div>
            <div class="col d-flex justify-content-end">
                {%- for method in doc.methods %}
                {%- if method.upper() in badges %}
                <h3><span class="badge badge-{{ badges[method] }} ml-2">{{ method | upper }}</span></h3>
                {%- endif %}
                {%- endfor %}
            </div>
        </div>
        {%- if doc.docstring %}
        <small class="text-muted">Info:</small>
        {{ doc.docstring | markdown }}
        {%- endif %}
    </div>
    {%- endfor %}
{%- endblock %}